@import "variables";

.normal-font { font-family: @font-family; }
.normal-size { font-size: @font-size; }

.small { font-size: .8em; }
.smaller { font-size: .9em; }
.larger { font-size: 1.1em; }
.large { font-size: 1.2em; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.strike { text-decoration: line-through; }
.underline { text-decoration: underline; };